version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4
jobs:
  build:
    working_directory: ~/sporthieme-challenge/sport-thieme-gh
    docker:
      - image: circleci/node:12.9.1-browsers
    environment:
      CI: true
      CODECOV_TOKEN: e17f73f7-673b-4fd7-ac35-b5bbee7fc39a

    steps:
      - checkout:
          path: ~/sport-thieme-gh

      - restore_cache:
          keys:
            - v6-dependencies-{{ checksum "package.json" }}
            - v6-dependencies-

      - run:
          name: Install dependencies
          command: npm ci

      - save_cache:
          paths:
            - node_modules
            - ~/.cache
            - ~/.npm
          key: v6-dependencies-{{ checksum "package.json" }}

      - run:
          name: Validate
          command: npm run validate

      - codecov/upload:
          file: coverage/*.json
          flags: frontend
